.aa{
    display: flex;
  justify-content: center;
  height:100px;
  width: auto;
 
}


.bb {
    color:rgb(255, 221, 196);
    text-shadow: 
        1px 1px 0px #e63946, 
        2px 2px 0px #f77f00, 
        3px 3px 0px #fcbf49, 
        4px 4px 0px #a8dadc, 
        5px 5px 0px #457b9d;
        
            
}
.cc{
    color: rgba(255, 221, 196, 0.788);
    display: flex;
     justify-content: center;
     background-color: #457b9d;
     position: relative; top: -10px;
     border-radius: 50%;
     
}
.dd{
    background-color: black;
    height: 15%;
    width: 99%;
}
.ff{
    display: flex;
  justify-content: space-between;
    height: auto;
}
.gg{
    height: 100px;
}
.hh{
  display: flex;
    flex-direction: column;
    background-color: #3a0807;
}
.ii{
    background-color:   #db9340b4;
    display: flex;
  justify-content: center;
  width: 50%;
  margin: 20px ;
  
}
.jj{
    height: 150px ;
    width: 150px ; 
    margin: 20px ;
}
.kk{
  display: flex;
  justify-content: center;
    color:  #db9340b4;
    text-shadow: 2px 2px 0px #97734f86	;
    background-color: #270e0eb9;
    position: relative; 
}
.ll {
    color: rgb(255, 240, 240);
    font-size:20px;
    margin: 20px;;
    
}
.mm{
     
    display: flex;
  justify-content: center;
    height: 100px ;
    width: auto ; 
    margin: 20px ;
    
}
.nn{
    
  display: flex;
  flex-direction: column;
}
.oo{
    height: 100px ;
    width: 100px ; 
    margin: 20px
}
.pp{
    display: flex;
  justify-content: space-around;
  padding: auto;
  overflow-wrap: break-word;
  width: auto;
}
.qq{ 
    
 
  margin-left: 20px;
  margin-right: 20px;
  font-size:15px;
}
.rr{
    font-size:15px;
}
.ss{
    display: flex;
  justify-content: center;
  color: #db9340;
    text-shadow: 
        1px 1px 0px #2a2a2a, 
        2px 2px 0px #2a2a2ad0, 
        3px 3px 0px #2a2a2a98, 
        4px 4px 0px #2a2a2a67, 
        5px 5px 0px #2a2a2a1a;
        font-size:35px;
}
.tt{
    height:auto;
    width: auto;
}
.zz{
    height: auto;
    width: auto;
}
.uu{
    height: 100px;
    width: auto;
}
.ww{
    display: flex;
  flex-direction: column;
    color: #ffffff;
}
.sd{
    height: 200px;
    width: auto;
}
.end{
    display: flex;
  justify-content: center;
}
.ce{
    color: #db9340;
    text-shadow: 3px 3px 0px #00000091;
    display: flex;
     justify-content: center;
     background-color: #290808;
     position: relative;
    
     
}

.fe{
     
     max-height: 500px; 
   overflow-y: auto; 
}
